absl-py==0.1.13
astor==0.6.2
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
click==6.7
cycler==0.10.0
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mock==2.0.0
numpy==1.14.2
pandas==0.22.0
pbr==4.0.2
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
subprocess32==3.2.7
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
Werkzeug==0.14.1
