{% extends "common/main.html" %}

{% block body %}

  <div class="container under-nav">
    <div class="row">
      <ul class="tab-buttons centered-pills">
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#fillform'">Fill Form</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#uploadcsv'">Upload CSV</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#results'">Results</button></li>
      </ul>
    </div>
    <hr>
  </div>

  <section id="todo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>TODO</h2>
          <ul>
            <li>Add algorithm to figure out what the best alzheimer indicators are (random forest selection, decision trees, etc)</li>
            <li>Change logo to a brain</li>
          </ul>
          <h2>Optional</h2>
          <ul>
            <li>Change DB Schema</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="fillform">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Fill Form</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="uploadcsv">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Upload CSV</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="results" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Results</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
