{% extends "common/main.html" %}

{% block body %}

  <!--
  <div class="container under-nav">
    <div class="row">
      <ul class="tab-buttons centered-pills">
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#classifier'">Classifier</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#uploadcsv'">Upload CSV</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#results'">Results</button></li>
      </ul>
    </div>
    <hr>
  </div>
  -->
  <!--
  <section id="todo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>TODO</h2>
          <ul>
            <li>Add algorithm to figure out what the best alzheimer indicators are (random forest selection, decision trees, etc)</li>
            <li>Change logo to a brain</li>
          </ul>
          <h2>Optional</h2>
          <ul>
            <li>Change DB Schema</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  -->

  <section id="accuracy_meter">
    <div class="container under-nav">
      <div class="row col-lg-12">
        <h2>Classification Accuracy</h2>
      </div>

      {% for algo in algo_accuracy %}

      <div class="col-lg-11 w3-margin-top">
        <p>{{algo.a_name}}:</p>
        <div class="w3-light-grey">
          <div id="{{algo.a_id}}" class="percent_bar w3-container w3-red w3-center" style="width:{{algo.a_accuracy}}%">{{algo.a_accuracy}}</div>
        </div>
      </div>

      {% endfor %}

    </div>
  </section>

  <section id="classifier" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Zhetect (Classifier)</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11 col-md-11">
          <h5>Input Patients Information</h5>

          <!--
          <div class="row col-lg-8 mx-auto w3-margin-top">
            <label class="radio-inline mx-auto">
              <input id="input_values" value="input_values" class="w3-margin" type="radio" name="input_type" checked="checked" onchange="changeInput(this, 'raw_input')">Input Values
            </label>
            <label class="radio-inline mx-auto">
              <input id="upload_csv" value="upload_csv" class="w3-margin" type="radio" name="input_type" onchange="changeInput(this, 'file_input')">Upload CSV
            </label>
          </div>
          -->

          <div id="file_input" class="row col-lg-11 col-md-11 margin-top64">
            <p>Upload CSV File:</p>
            <div class="w3-card w3-margin-top">
              <form action = "/alzhetect/" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <span></span>
                <input type = "submit"/>
              </form>
            </div>
          </div>

          <!--
          <div id="raw_input" class="margin-top64 col-lg-11 col-md-11">
            <p>Manually Input Information Below:<p>
            <div class='w3-card w3-margin-top'>
              <form id="raw_form" action="/fieldloader/" method = "POST" class="w3-container">
                <div class="row">
                  {% for field in patient_input_fields.field_name %}
                  <div class="col-lg-6">
                    <p>
                      <label id="{{field[0]}}_label" name="{{field[0]}}">{{field[0]}}</label>
                      <input id="{{field[0]}}_input" name="{{field[0]}}" class="w3-input" type="text">
                    </p>
                  </div>
                  {% endfor %}
                  <input class="mx-auto" type = "submit"/>
                </div>
              </form>
            </div>
          </div>
          -->

        </div>
      </div>
    </div>
  </section>


  <!--
  <section id="uploadcsv">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Upload CSV</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  -->

  <section id="results">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Results</h2>
        </div>
        <div class="col-lg-8 w3-margin-top w3-margin-bottom mx-auto">
          <!-- Uploaded file in different location than HTML file -->
          <!-- <a class="mx-auto" href="{{ url_for('static', filename='results.csv') }}" download>DownLoadddd</a> -->

          {% if results|length > 0 %}
          {% for key, val in results.result_vals.items() %}
          <div class="w3-margin-top w3-center">
            <h4 class="w3-margin">{{key}}</h4>
            <table id="{{key}}" class="display" style="width:100%;">
              <thead>
                <tr>
                  {% for v in results.result_cols[key] %}
                  <th>{{v}}</th>
                  <!--
                  <th>DX</th>
                  <th>Prediction</th>
                  <th>Prediction Probability</th>
                  -->
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for item in val %}
                <tr>
                  {% for i in item %}
                  <td>{{i}}</td>
                  {% endfor %}
                </tr>

                {% endfor %}
              </tbody>
            </table>
            <!--
            <div class="row col-lg-8 mx-auto w3-margin-top">
              <label class="radio-inline mx-auto">
                <input id="pie_chart" value="pie" class="w3-margin" type="radio" name="chart_type" checked="checked" onchange="changeGraph(this)">Pie Chart
              </label>
              <label class="radio-inline mx-auto">
                <input id="bar_chart" value="bar" class="w3-margin" type="radio" name="chart_type" onchange="changeGraph(this)">Bar Graph
              </label>
            </div>
            -->
          </div>
          {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
  </section>

{% endblock %}
