{% extends "common/main.html" %}

{% block body %}

  <header class="bg-primary">
    <div class="container text-center">
      <h1 class="text-white">A Tool for Alzheimer Diagnosis and Statistics</h1>
      <p class="lead text-black">Using a Deep Neural Network (DNN) to detect early Alzheimer's disease using Tensorflow</p>
    </div>
  </header>

  <section id="contact">  <!-- class="bg-light" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Contact us</h2>
          <!--
          <p class="lead">{{results.kmeans}}</p>
          <br>
          <p class="lead">{{results.knn}}</p>
          <br>
          <p class="lead">{{results.svm}}</p>
          <br>
          <p class="lead">{{results.keras}}</p>
          -->
        </div>
      </div>
    </div>
  </section>

{% endblock %}
