{% extends "common/main.html" %}

{% block body %}

  <header class="bg-primary">
    <div class="container text-center">
      <h1 class="text-white">A Tool for Alzheimer Diagnosis and Statistics</h1>
      <p class="lead text-black">Using a Deep Neural Network (DNN) to detect early Alzheimer's disease using Tensorflow</p>
    </div>
  </header>

  <section id="contact">  <!-- class="bg-light" -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
