{% extends "common/main.html" %}

{% block body %}

  <header class="bg-primary">
    <div class="container text-center">
      <h1 class="text-white">A Tool for Alzheimer Diagnosis and Statistics</h1>
      <p class="lead text-black">Using a Deep Neural Network (DNN) to detect Alzheimer's disease using Tensorflow</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Background</h2>
          <p class="lead">
            One of the most obscure yet significantly debilitating diseases currently facing humanity is alzheimer’s disease (AD). In 2010, there were 4.7 million individuals with alzheimer, it is predicted that by 2050 the figure will be 13.8 million. To be able to effectively treat AD, it is important that we are able to identify it early in individuals. This study will focus on identifying biomarkers (features) that are strong indicators of progressive AD disease through supervised machine learning models. Then, the selected features will be used along with deep learning models to properly classify mild cognitively impaired (MCI) patients. In this research we aim to predict if a patient, believed to have MCI, is still cognitively normal (CN) or may already be showing potential signs of AD.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="details" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Details</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="data">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Data Used</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
