{% extends "common/main.html" %}

{% block body %}

  <div class="container under-nav">
    <div class="row">
      <ul class="tab-buttons centered-pills">
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background">Statistics</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background">Visualizations</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background">Data</button></li>
      </ul>
    </div>
    <hr>
  </div>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>TODO</h2>
          <ul>
            <li>Add data to DB</li>
            <li>Provide boxes to select and populate statistics</li>
            <li>Add algorithm to figure out what the best alzheimer indicators are (random forest selection, decision trees, etc)</li>
            <li>Visualize data using graphs, charts, tables, etc.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="stats" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
