{% extends "common/main.html" %}

{% block body %}

  <div class="container under-nav">
    <div class="row">
      <ul class="tab-buttons centered-pills">
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#stats-selection'">Statistics</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#visualizations'">Visualizations</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#data'">Data</button></li>
      </ul>
    </div>
    <hr>
  </div>

  <section id="stats-selection">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Select Data To Visualize</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11 col-md-11 mx-auto">
          <div class="row w3-card mx-auto w3-margin-top">
            <!--
            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">

              {% for i in range(0, (checkboxes|length/2)|int) %}

              <p>
                <input id="{{checkboxes[i].value}}" value="{{checkboxes[i].value}}" class="w3-check" type="checkbox" onclick='box_checked(this, {{checkboxes[i]|tojson}})'>
                <label>{{checkboxes[i].label}}</label>
              </p>

              {% endfor %}

            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 mx-auto" >

              {% for i in range((checkboxes|length/2)|int, checkboxes|length) %}

              <p>
                <input id="{{checkboxes[i].value}}" value="{{checkboxes[i].value}}" class="w3-check" type="checkbox" onclick='box_checked(this, {{checkboxes[i]|tojson}})'>
                <label>{{checkboxes[i].label}}</label>
              </p>

              {% endfor %}

            </div>
          -->

            <table id="select_visual" class="display" style="width:100%;">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Field_Name</th>
                  <th>Measurement_Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                {% for check in checkboxes %}
                <tr>
                  <td><input value="{{check.value}}" class="w3-check" type="checkbox" onclick='box_checked(this, {{check|tojson}})'></td>
                  <td>{{check.value}}</td>
                  <td>{{check.label}}</td>
                  <td>{{check.description}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <!--
      <div class="row col-lg-11 col-md-11 w3-card-4 mx-auto margin-top64" style="padding:20px;">
        <table id="important_features" class="display" style="width:100%;">
          <thead>
              <tr>
                  <th>Select</th>
                  {% for key in selected_features.th %}
                  <th>{{key}}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              {% for val in selected_features.td %}
              <tr>
                  <td><input type="checkbox"></input></td>
                  <td>{{val[0]}}</td>
                  <td>{{val[1]}}</td>
                  <td>{{val[2]}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      -->
    </div>
  </section>

  <section id="visualizations" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Visualizations</h2>
          <div id="visualsboard" class="row mx-auto w3-margin-top">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="data">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Data</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
