{% extends "common/main.html" %}

{% block body %}

  <!--
  <div class="container under-nav">
    <div class="row">
      <ul class="tab-buttons centered-pills">
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#stats-selection'">Statistics</button></li>
        <li class="tab-buttons-li"><button class="w3-button w3-round-large color2-background big-button" onclick="window.location='#visualizations'">Visualizations</button></li>
      </ul>
    </div>
    <hr>
  </div>
  -->

  <section id="stats-selection">
    <div class="container under-nav">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Select Data To Visualize</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-11 col-md-11">
          <div class="row w3-margin-top">
            <table id="select_visual" class="display" style="width:100%;">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Field_Name</th>
                  <th>Measurement_Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                {% for check in checkboxes %}
                <tr>
                  <td><input value="{{check.value}}" class="w3-check" type="checkbox" onclick='box_checked(this, {{check|tojson}})'></td>
                  <td>{{check.value}}</td>
                  <td>{{check.label}}</td>
                  <td>{{check.description}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!--
            <div class="row col-lg-8 mx-auto w3-margin-top">
              <label class="radio-inline mx-auto">
                <input id="pie_chart" value="pie" class="w3-margin" type="radio" name="chart_type" checked="checked" onchange="changeGraph(this)">Pie Chart
              </label>
              <label class="radio-inline mx-auto">
                <input id="bar_chart" value="bar" class="w3-margin" type="radio" name="chart_type" onchange="changeGraph(this)">Bar Graph
              </label>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="visualizations" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Visualizations</h2>
          <div id="visualsboard" class="row mx-auto w3-margin-top">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section id="data">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Data</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>
  -->

{% endblock %}
